<section class="faq-section" id="faq">
  <div class="container">
    <h2>Часті питання</h2>
    <div class="faq-div">
      <ul class="accordion">
        <li class="ac">
          <button class="ac-trigger ac-header">
            Як здійснюється доставка меблів?
            <span class="faq-arrow">
              <svg class="faq-arrow-svg" width="32" height="32">
                <use href="./favicon.svg#icon-chevron-down"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="ac-text">
              Ми доставляємо по всій Україні через надійні служби. Термін
              доставки зазвичай складає 3-7 днів залежно від регіону.
            </p>
          </div>
        </li>
        <li class="ac">
          <button class="ac-trigger ac-header">
            Чи є можливість вибрати колір або матеріал?
            <span class="faq-arrow">
              <svg class="faq-arrow-svg" width="32" height="32">
                <use href="../img/favicon.svg#icon-chevron-down"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="ac-text">
              Так, у багатьох моделях доступні варіанти оббивки та кольорів.
            </p>
          </div>
        </li>
        <li class="ac">
          <button class="ac-trigger ac-header">
            Чи можна повернути товар якщо він не підійшов?
            <span class="faq-arrow">
              <svg class="faq-arrow-svg" width="32" height="32">
                <use href="../img/favicon.svg#icon-chevron-down"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="ac-text">
              Так, ви можете повернути товар протягом 14 днів, якщо він не був у
              користування та збережений у первинному вигляді.
            </p>
          </div>
        </li>
        <li class="ac">
          <button class="ac-trigger ac-header">
            Чи надаєте ви послугу збирання меблів?
            <span class="faq-arrow">
              <svg class="faq-arrow-svg" width="32" height="32">
                <use href="../img/favicon.svg#icon-chevron-down"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="ac-text">
              Так, під час оформлення замовлення можна обрати послугу збирання.
              Наші майстри зберуть меблі у зручний для вас час.
            </p>
          </div>
        </li>
        <li class="ac">
          <button class="ac-trigger ac-header">
            Як здійснити оплату?
            <span class="faq-arrow">
              <svg class="faq-arrow-svg" width="32" height="32">
                <use href="../img/favicon.svg#icon-chevron-down"></use>
              </svg>
            </span>
          </button>
          <div class="ac-panel">
            <p class="ac-text">
              Ми приймаємо оплату карткою онлайн, банківським переказом або
              післяплатою при отриманні.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
