<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text-first">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper" id="reviews-container"></div>

      <div class="reviews-controls">
        <div class="swiper-pagination feedback-page-desing"></div>

        <div class="swiper-buttons">
          <button
            type="button"
            class="swiper-button-prev feedback-btn feedback-desing-beack"
            aria-label="Попередній відгук"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/favicon.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button
            type="button"
            class="swiper-button-next feedback-btn feedback-desing-go"
            aria-label="Наступний відгук"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/favicon.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
