<section class="feedback" id="feedback">
  <div class="container">
    <h1 class="feedback-title">Відгуки клієнтів</h1>
    <p class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>
    <div class="feedback-slider">
      <ul class="feedback-list">
        <li class="feedback-list-item">
          <ul class="feedback-list-stars"></ul>
          <p class="feedback-list-review">
            “Дуже задоволена покупкою! Диван не тільки стильний, а й неймовірно
            зручний. Доставка була швидкою, все без жодної подряпини.”
          </p>
          <p class="feedback-user">Олена Коваль</p>
        </li>
      
    </div>

    <button type="button" class="prev"></button>
    <button type="button" class="next"></button>

    <div class="pagination"></div>
  </div>
</section>
