<header class="header">
  <div class="container">
    <section class="header_logo_section">
      <a href="index.html">
        <img src="./img/header-logo.svg" alt="header-logo">
      </a>
    </section>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_list_items_01"><a href="#furniture-category">Наші меблі</a></li>
        <li class="nav_list_items_02"><a href="#about-us">Про нас</a></li>
        <li class="nav_list_items_03"><a href="#faq">Часті питання</a></li>
        <li class="nav_list_items_04"><a href="#feedback">Відгуки</a></li>
        <li class="nav_list_items_05 button_list_items"><a href="#">До покупок</a></li>
      </ul>

      <section class="nav_burger_menu_section">
        <svg class="header_burger_svg header_menu_svg" width="32" height="32">
          <use href="./favicon.svg#icon-menu"></use>
        </svg>
        <svg class="header_burger_svg header_x_svg hide" width="32" height="32">
          <use href="./favicon.svg#icon-x"></use>
        </svg>
      </section>
    </nav>
  </div>
</header>