.feedback-title {
    font-weight: 700;
    font-size: 36px;
    color: #080c09;
    margin-bottom: 24px;
    line-height: 1.2;
}

.feedback-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 80px;
    line-height: 1.6;
    color: #080c09;
}

.star-rating {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}
.icon-star.star-filled {
    fill: #080C09;
}
.review-card {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 48px;
}

.feedback-user-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;
}



.reviews-controls {
    margin-top: 32px;

}

.feedback-btn {
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #111111;
    /* Колір рамки з макету */
    border-radius: 50%;
    /* Робимо круглу форму */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    fill: #080C09;
}

/* Стилі для SVG всередині кнопок */
.feedback-btn svg {
    fill: #080C09;
}

.feedback-btn:hover svg {
    stroke: #ffffff;
    /* Стрілочка стає білою при наведенні */
}

/* Стан, коли кнопка неактивна (перший/останній слайд) */
.feedback-btn:disabled,
.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
    border-color: #cccccc;
}
.controls-container {
    display: flex;
    justify-content: space-between;
    /* Розносить елементи по краях */
    align-items: center;
    margin-top: 20px;
    /* Відступ від карток */
    padding: 0 10px;
}
.swiper-container {
    position: relative;
    padding-bottom: 50px;
    /* Місце для кнопок знизу */
}

.navigation-wrapper {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    gap: 10px;
    
}
.review-card {
    background: #fff;
    border: 1px solid #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feedback-swiper-pagination{
        position: absolute;
        text-align: center;
        transition: 300ms opacity;
        transform: translate3d(0, 0, 0);
         z-index: 10;
       
}

.swiper-pagination-bullet-active {
    background-color: #000000 !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000000 !important;
}

.reviews-swiper {
    padding-bottom: 60px;
    position: relative;
}


.feedback-page-desing {
    text-align: left ;
    left: 0 ;
    bottom: 10px ;
    width: auto ;
}

/*"Назад" */
.feedback-desing-beack {
    left: auto ;
    top: auto;
    right: 60px ;
    
    bottom: 10px ;
    
}

/* Кнопка "Вперед" */
.feedback-desing-go {
    left: auto;
    right: 10px ;
    bottom: 10px;
    top: auto ;
}