:root {
  /*колір логотипу*/
  --logo-color: #080c09; /* Темно-зелений для логотипу */

  /* основні кольори (Brand Colors) */
  --dark-red-color: #6b0609; /* Темно-червоний /  */
  /* кнопки*/
  --dark-red-btn-color: #6b0609; /*  */
  --lite-btn-color: rgba(8, 12, 9, 0.05); /*  */
  /*  */

  /* Ховери та  стани  */
}
